[user]
	name = masaki
	email = ikeda.masaki@gmail.com
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
    autocrlf = false
    ignorecase = false
[color]
    ui = true
[init]
    #templatedir = ~/.git_template
[commit]
    template = ~/.git_template/commit_template
[push]
    default = simple
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[alias]
    co = checkout
    st = status
    br = branch
    ci = commit
    tr = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(blue)<%an>%Creset' --abbrev-commit --date-order
    tra = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(blue)<%an>%Creset' --abbrev-commit --date-order --all
    fe = fetch --prune
    fc = !git branch | fzf | xargs git checkout
    fa = !git status -s | fzf -m | awk '{print $NF}' | xargs git add
    fm = !git branch -r | fzf | xargs git merge --no-ff --no-commit
[url "git@github.com:"]
    insteadOf = https://github.com/
[ghq]
    root = ~/.ghq
    root = ~/Develop/go/src
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
