[user]
    name = masaki
    email = ikeda.masaki@gmail.com
[core]
    excludesfile = ~/.gitignore_global
    editor = vim -u NONE -N
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[filter "lfs"]
    smudge = git-lfs smudge --skip %f
[color]
    ui = true
[alias]
    co = checkout
    st = status
    br = branch
    ci = commit
    tr = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(blue)<%an>%Creset' --abbrev-commit --date-order --all
    fe = fetch --prune
[init]
    templatedir = ~/.git_template
[push]
    default = simple
[ghq]
    root = ~/.ghq
    root = ~/Develop/go/src
